// VARIABLES
$text-color: #252627;
$headline-color: #bf1313;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.container {
  padding: 2em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.headline-link {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 2em;
  text-transform: uppercase;
  text-decoration: underline;
  color: $headline-color;
}

h2 {
  font-size: 2.125em;
  margin-bottom: 1em;
  $text-color: #252627;
}
h3 {
  font-size: 2.125em;
  color: $headline-color;
  margin-bottom: 1em;
}

p {
  font-size: 1.125rem;
  margin-bottom: 1em;
  line-height: 28px;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $text-color;
  text-transform: uppercase;
}
